@model DisplayEmployee
@{
    ViewBag.Title = "Employees";
    Layout = "/Views/Shared/_adminView.cshtml";

}

<div class="right_col" role="main">
    <div class="col-md-12 col-sm-12  ">
        <section id="team" class="team">
            <div class="container">

                <div class="row">
                    @foreach (var item in Model.applicationUsers)
                    {


                        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
                            <div class="member">
                                <div class="pic"><img id="output_image" src="@Url.Content("~/images/" + (item.img ?? "user.png"))" class="img-fluid " asp-append-version="true" /></div>
                                <div class="member-info">
                                    <a asp-controller="Administration" asp-action="EmployeeProfile" asp-route-id="@item.Id">
                                        <h4 class="card-title">@item.Firstname @item.LastName</h4>
                                    </a>
                                    <span></span>
                                    <div class="social">
                                        @foreach (var data in Model.TotalExpdata)
                                        {
                                            @if (data.userid == item.Id)
                                            {
                                                @if (data.totalExp != 0 && data.totalExp <= 3)
                                                {
                                                    for (int i = 1; i <= 5; i++)
                                                    {
                                                        if (i == 1)
                                                        {
                                                            <i class="fa fa-star fa-2x" style="color:gold !important;"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="fa fa-star fa-2x" style="color:black !important;"></i>
                                                        }

                                                    }
                                                }
                                                else if (data.totalExp > 3 && data.totalExp <= 6)
                                                {
                                                    for (int i = 1; i <= 5; i++)
                                                    {
                                                        if (i <= 2)
                                                        {
                                                            <i class="fa fa-star fa-2x" style="color:gold !important;"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="fa fa-star fa-2x" style="color:black !important;"></i>
                                                        }

                                                    }
                                                }
                                                else if (data.totalExp > 6)
                                                {
                                                    for (int i = 1; i <= 5; i++)
                                                    {
                                                        if (i <= 3)
                                                        {
                                                            <i class="fa fa-star fa-2x" style="color:gold !important;"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="fa fa-star fa-2x" style="color:black !important;"></i>
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    for (int i = 1; i <= 5; i++)
                                                    {

                                                        <i class="fa fa-star fa-2x" style="color:black !important;"></i>
                                                    }
                                                }
                                            }
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    }


                </div>

            </div>
        </section><!-- End Our Team Section -->
    </div>
</div>
