<div class="main-section">
    <div class="block-grid-wrap">
        @(Html.DevExtreme().DataGrid<vw_UserRoles>()
            .ID("hiringManagersGridContainer")
            .ShowBorders(true)
            .DataSource(d => d.Mvc().Controller("Admin").LoadAction("GetUserRole").Key("id"))
            .RemoteOperations(true)
            .Editing(e => e.Mode(GridEditMode.Popup)
            .AllowUpdating(true)
            .AllowAdding(true)
            .AllowDeleting(true)
            .Popup(p => p
            .Title("Employee Info")
            .ShowTitle(true)
            .Width(700)
            .Height(525)
            )
            .Form(f => f.Items(items =>
            {
                items.AddSimpleFor(m => m.UserName);
                items.AddSimpleFor(m => m.Role);
            }))
            )
            .Columns(c =>
            {
                c.Add().Caption("User Name").DataField("userName").Width("25%");
                c.Add().Caption("Name").DataField("name").Width("25%");
                c.Add().Caption("Role").DataField("roleId").Width("25%").Lookup(lookup => lookup
                .DataSource(d => d.Mvc().Controller("Admin").LoadAction("GetAllRoles").Key("id"))
                .DisplayExpr("Name")
                .ValueExpr("roleId")
                );
            })
            .WordWrapEnabled(true)
            .RowAlternationEnabled(true)
            .Paging(paging => paging.PageSize(20))
            .Pager(pager =>
            {
                pager.Visible(true);
                pager.ShowPageSizeSelector(true);
                pager.AllowedPageSizes(new JS("[10, 20, 50]"));
                pager.ShowInfo(false);
                pager.ShowNavigationButtons(true);
            })
            .FilterRow(filterRow => filterRow
            .Visible(true)
            .ApplyFilter(GridApplyFilterMode.Auto)
            )
            .HeaderFilter(headerFilter => headerFilter.Visible(false))
            )
    </div>
</div>