<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/assets/css/style.css" asp-append-version="true"/>
    <title>@ViewData["Title"] - WorkerHub</title>
</head>
<body class="login">
    <partial name="_Alert" />
    @RenderBody()
</body>
</html>
