
/*--------------------------------------------------------------
## color
--------------------------------------------------------------*/

$dark-color: #101010;
$grey-color: rgba(73, 73, 73, 0.8);
$grey-dark-color: #868686;
$grey-light-color: #D3D3D3;
$grey-light-md-color: #eee;
$white-color:#fff;
$primary-color:#383986;
$primary-2-color: #3A3A87;
$blue-color: #0BAEEB;
$red-color: #F52626;
$green-color: #27ae60;

/*--------------------------------------------------------------
## font
--------------------------------------------------------------*/

$font__primary: 'Mulish', sans-serif;
// $font__secondary: 'FreightSans Pro';



