.dx-header-row  >{
    td > {
        .dx-datagrid-text-content{
             font-weight: 600;
             font-size: 13px;
             color: $dark-color;
        }
    }
}
.dx-datagrid-headers {
    .dx-datagrid-table{
        .dx-row > td{
                border: none;
        }
    }
}
.dx-datagrid {
    .dx-column-lines > td{
        border: none;
    }
    .dx-row > td{
        padding: 12px 7px;
        .c-l-action{
            .fa{
                color: #0BAEEB;
                font-weight: bold;
                padding: 0 2px;
                &.fa-trash{
                    color: $red-color;
                }
            }
        }
}
    .dx-header-filter{
        display: none !important;
    }
    .dx-header-row{
        span.dx-sort{
            display: block ;
            opacity: 1;
            
           &::before{
            content: "\e90d" !important;
            font-family: 'icomoon';
            color: $dark-color;
           }
        }
    }
}

.dx-datagrid-content .dx-datagrid-table.dx-datagrid-table-fixed .dx-column-indicators .dx-sort.dx-sort-none{
    display: block ;
}


.dx-datagrid {
    .dx-datagrid-pager{
        border-top: 1px solid $grey-light-color;
    }
}
.dx-pager .dx-pages{
    display: flex;
}

.dx-pager .dx-pages .dx-navigate-button{
    padding: 8px 1px;
    font-size: 15px;
    background: transparent;
    width: 26px;
    height: 26px;
    box-sizing: border-box;
    border-radius: 2px;
    color: $primary-color;
    &:before{
        font-size: 10px;
    }
}
.dx-page-indexes{
    background: $white-color;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 5px 15px;
}
.dx-pager {
    font-family: $font__primary;
    .dx-pages {
        // .dx-info{
        //     display: none;
        // }
        .dx-page {
            height: 26px;
            border-radius: 2px;
            width: 26px;
            text-align: center;
            font-weight: 700;
            font-size: 14px;
            color: $dark-color;
            border-radius: 50%;
            line-height: 26px;
            vertical-align: middle;
            padding: 0 8px;
            text-align: center;
           &.dx-selection{
            background-color: $blue-color;
            color: $white-color;
           }
        }
    }
    .dx-page-sizes {
        .dx-page-size{
            padding: 3px 5px 3px 5px ;
            font-weight: bold;
            &.dx-selection{
                background-color: $blue-color;
                color: $white-color;
            }
            
        }
        .dx-selection, .dx-selection{
            border-radius: 50%;
            font-size: 12px;
            background-color: $blue-color;
        }
    }
    .dx-datagrid-headers{
        border-bottom: none;
       
    }
    .dx-pager .dx-pages .dx-prev-button,
    .dx-pager .dx-pages .dx-next-button{
        padding: 5px 13px;
        background: rgba($primary-color, 0.3);
        border-radius: 50%;
        &:after{
            color: $white-color;
        }
    }
    .dx-pager .dx-page-sizes .dx-selection, 
    .dx-pager .dx-pages .dx-selection{
        background: $primary-color ;
        color: $white-color ;
    }
}
