@{
    ViewData["Title"] = "Home Page";
}

<div class="main-section">
    <div class="block-section">
        <div class="row">

        </div> <!-- row -->
    </div> <!-- block-section -->
    @* <div class="report-section">
    <h2>Reports</h2>
    </div> <!-- report-section -->*@
</div>